@import url('https://fonts.googleapis.com/css?family=Crimson+Text:700');
body {
    text-align: center;
    background-color: rgb(150, 111, 155);
    color: rgb(92, 0, 76);
    font-family: 'Crimson Text', serif;
}

button {
    background-color: rgb(92, 0, 76);
    color: rgb(255, 255, 255);

}

#Submit {
    background-color: rgb(92, 0, 76);
    color: rgb(255, 255, 255);
}